/* Importação de fonte */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800&display=swap");

/* --- Variáveis de Cor --- */
:root {
  --color-primary: #e65c00;
  --color-secondary: #f67427;
  --color-dark: #2c3036;
  --color-text-dark: #1f242b;
  --color-text-light: #808080;
  --color-white: #ffffff;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1.6;
  color: var(--color-text-dark);
  background: var(--color-white);
}

/* HEADER */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  background-color: var(--color-white);
  z-index: 10;
}

header .logo {
  width: 120px;
  max-width: 20%;
}

.hamburguer {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburguer span {
  width: 25px;
  height: 3px;
  background: var(--color-primary);
  border-radius: 2px;
  transition: 0.3s ease;
}

/* Navbar */
.navbar,
.navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.navbar a {
  text-decoration: none;
  color: var(--color-text-light);
  font-weight: 400;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: var(--color-primary);
}

.flags-translate-options img {
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
  cursor: pointer;
}

/* Estado mobile */
.navbar.active {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  flex-direction: column;
  background: var(--color-white);
  border-bottom: 1px solid var(--color-text-light);
  padding: 1rem;
}

.hamburguer.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.hamburguer.open span:nth-child(2) {
  opacity: 0;
}
.hamburguer.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* HERO */
.hero-section {
  background: var(--color-white) url("/assets/images/bg_grid.svg");
  padding: 10rem 2rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-container {
  max-width: 1200px;
}

.hero-text-content h1 {
  margin: 0 auto;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 800;
  color: var(--color-text-dark);
  line-height: 1.2;
  margin-bottom: 1rem;
}
.hero-text-content h1 .highlight {
  color: var(--color-primary);
}
.hero-text-content p {
  margin: 0 auto;
  font-size: 1.1rem;
  color: var(--color-text-light);
  margin-bottom: 2.5rem;
  max-width: 500px;
}

/* Botões */
.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
.btn {
  display: inline-block;
  padding: 0.8rem 2rem;
  border-radius: 100px;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;
  text-align: center;
  text-decoration: none;
}
.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.btn-dark {
  background: var(--color-dark);
  color: var(--color-white);
}
.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
}

/* --- Features --- */
#features-section {
  background-color: #21262d;
  padding: 80px 2rem;
  text-align: center;
}
#features-title {
  color: #edf2f6;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.features-grid {
  margin: 0 auto;
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
}

.features {
  margin-top: 2rem;
}
.features-ind {
  background: #1f242b;
  box-shadow: 0 0 15px rgba(31, 36, 43, 0.65);
  border-radius: 30px;
  padding: 3rem;
  text-align: center;
  min-width: 0;
}

.features-ind h3 {
  font-weight: 500;
  color: #edf2f6;
  margin-bottom: 12px;
  text-align: left;
}
.features-ind p {
  color: #e4e4e4;
  text-align: left;
}

/* --- Institucional e Sobre --- */
.section-institutional-top,
.section-institutional-down,
.section-aboutus {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 4rem 2rem;
  gap: 2rem;
  max-width: 1800px;
  margin: 0 auto;
}

.institutional-top-container {
  background: var(--color-secondary);
  color: #edf2f6;
}
.institutional-down-container {
  background: var(--color-primary);
  color: #edf2f6;
}
.institutional-aboutus-container {
  background: #f0f3f4;
  color: #717171;
}

.left-institutional,
.right-institutional,
.left-aboutus {
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.right-institutional-fineline p {
  max-width: 500px;
}

.left-institutional-title h1,
.right-institutional-title h1,
.left-aboutus-title h1 {
  font-size: 2.6rem;
  max-width: 600px;
}
.left-aboutus-title h1 {
  color: var(--color-primary);
}

.aboutus-more a {
  color: var(--color-primary);
  font-size: 1.2rem;
  text-transform: uppercase;
  text-decoration: none;
}
.aboutus-more a:hover {
  text-decoration: underline;
}

.right-institutional-image,
.left-institutional-image,
.right-aboutus-image {
  display: flex;
  justify-content: center;
}

.right-institutional-image img,
.left-institutional-image img,
.right-aboutus-image img {
  max-width: 75%;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

.right-institutional-image img:hover,
.left-institutional-image img:hover,
.right-aboutus-image img:hover {
  opacity: 0.7;
  cursor: pointer;
}

/* --- Planos --- */
.plans {
  margin: 4rem auto;
  padding: 0 2rem;
  text-align: center;
}
#plans-title {
  font-size: 2rem;
}
#plans-subtitle {
  color: #787878;
  margin: 10px 0 40px;
}
.plans-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  max-width: 1600px;
  gap: 0 70px;
  margin: 0 auto;
}
.plans-ind {
  border-radius: 16px;
  border: 1px solid #c5c5c5;
  padding: 60px;
  transition: transform 0.3s ease;
}
.plans-info {
  text-align: left;
}
.plans-features li {
  list-style: none;
  text-align: left;
}

.plans-ind:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.plans-info {
  margin-bottom: 1.5rem;
}
.plans-info h1 {
  font-size: 1.2em;
  font-weight: normal;
}
.plans-price {
  font-size: 2em;
}
.plans-license {
  font-size: 0.8em;
  color: #9a9a9a;
}

#basic-plan {
  background: var(--color-dark);
  color: #edf2f6;
}
#profissional-plan {
  background: var(--color-primary);
  color: #edf2f6;
}
#intermediary-plan {
  background: var(--color-white);
  color: #111;
}
#intermediary-plan .plans-info h1 {
  color: var(--color-primary);
}

.btn-demonstration {
  border-radius: 50px;
  font-size: 0.9em;
  text-decoration: none;
  transition: 0.3s ease;
  padding: 10px 60px 10px 60px;
  width: 100%;
  margin-bottom: 32px;
}

#basic-plan .btn-demonstration {
  border: 1px solid #e8e8e8;
  color: #e8e8e8;
}
#profissional-plan .btn-demonstration {
  background: #e8e8e8;
  color: var(--color-primary);
  border: 1px solid #ee7026;
}
#intermediary-plan .btn-demonstration {
  border: 1px solid #ee7026;
  color: var(--color-primary);
}

/* --- Contact --- */
.contact-container {
  background: var(--color-primary);
}

.contact-section {
  text-align: center;
  padding: 4rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.contact-title {
  color: #edf2f6;
  font-size: 2rem;
}
.contact-fineline {
  color: #e6e6e6;
  max-width: 500px;
  margin: 10px auto 30px;
}
.contact-row {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.contact-row input {
  border: 1px solid #d0d0d0;
  border-radius: 10px;
  padding: 12px;
  padding-right: 4rem;
  background: #ecf0f1;
}
.contact-button-submit {
  background: var(--color-dark);
  border: none;
  padding: 12px;
  padding: 12px 4rem 12px 4rem;
  text-align: center;
  border-radius: 60px;
  cursor: pointer;
}

.contact-button-submit a {
  color: var(--color-white);
  text-decoration: none;
}

/* FOOTER */

footer {
  padding: 3rem 6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #1f242b;
}

.footer-left {
  display: flex;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-right: 40px;
  margin-bottom: 1rem;
}
.footer-column h4 {
  font-size: 13px;
  color: #cdcdcd;
}
.footer-column a {
  font-size: 14px;
  color: #f2f2f2;
  text-decoration: none;
}
.footer-column a:hover {
  text-decoration: underline;
}
.footer-right {
  text-align: left;
}
.footer-right .logo {
  font-size: 24px;
  color: var(--color-primary);
  font-weight: bold;
  margin-bottom: 6px;
}
.footer-right p {
  font-size: 12px;
  color: #fff;
}

/* --- Responsividade --- */
@media (max-width: 900px) {
  header {
    padding: 1rem 2rem;
  }

  .hamburguer {
    display: flex;
  }

  .navbar {
    display: none;
  }

  .navbar.active {
    display: flex;
  }

  .hero-container {
    text-align: center;
  }

  .hero-text-content h1 {
    font-size: 2.2rem;
  }

  .hero-buttons {
    flex-direction: column;
    align-items: center;
  }

  .btn {
    width: 100%;
    max-width: 300px;
  }

  .section-institutional-top,
  .section-institutional-down,
  .section-aboutus {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .right-aboutus-image,
  .right-institutional-image,
  .left-institutional-image {
    display: none;
  }

  .features-grid,
  .plans-grid {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 90%;
    gap: 1rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  .plans-grid {
    width: 100%;
    padding: 50px;
    gap: 2rem;
  }

  .features-grid::-webkit-scrollbar,
  .plans-grid::-webkit-scrollbar {
    display: none;
  }

  .features-ind,
  .plans-ind {
    scroll-snap-align: start;
  }

  .left-institutional,
  .right-institutional,
  .left-aboutus {
    margin-left: 0;
    text-align: left;
  }

  .footer-left {
    display: block;
    gap: 20px;
  }

  .footer-right {
    margin-top: 50px;
    text-align: left;
  }
}
